atlassian_python_api==3.41.16
beautifulsoup4==4.12.3
boto3==1.35.38
botocore==1.35.38
langchain_aws==0.2.7
langchain_community==0.3.9
langchain_core==0.3.21
pandas==2.2.3
pypdf==5.1.0
python_docx==1.1.2
python_pptx==1.0.2
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
streamlit==1.39.0
toml==0.10.2
